{% extends "base.html" %}

{% block title %}Wed Knot Craft - How to Order?{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/howtoorder.css') }}">
{% endblock %}


{% block content %}
<div class="how-order-wrapper">
    <h1 class="how-order-title">How do I order wedding cards from <span>Wed Knot Craft</span> online?</h1>

    <p><strong>Browse the Collection:</strong> Take your time to explore our collection and discover various designs that suit your style and preferences. You can use the search filters to narrow down your options based on themes, colors, or card types.</p>

    <p><strong>Select a Design:</strong> Once you have found a design that catches your eye, click on it to view more details. You can zoom in to see the intricate details and read the card description to ensure it meets your requirements.</p>

    <p><strong>Add to Cart:</strong> Once you are happy with your design, select the quantity and click on the "Add to Cart" button to proceed to the next step.</p>

    <p><strong>Review Your Order:</strong> In the shopping cart, you will be able to review your order summary, including the quantity, price, and any additional services you have selected.</p>

    <p><strong>Secure Payment:</strong> King of Cards offers a secure online payment system. Choose your preferred payment method and enter the necessary details to complete your transaction.</p>

    <p><strong>Place Your Order:</strong> After confirming your payment, you will receive an order confirmation via email, along with an estimated delivery date.</p>
</div>
{% endblock %}